<h2 id="songsTitle">Songs</h2>

<form>
<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Filter songs" ng-model="model.search">
  </div>      
</div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="song in model.songs | filter:model.search">
      <td>{{song.id}}</td>
      <td>{{song.title}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.duration}}</td>
      <td>{{song.rating}}</td>
      <td>
      	<button ng-click="addToPlaylist(song.id)">Add</button>
      </td>
    </tr>
  </tbody>
</table>