<div class="well">
	<p>
		Title: {{model.currentSong.title}}
	</p>

	<p>
		Artist: {{model.currentSong.artist}}
	</p>

	<p>
		Duration: {{model.currentSong.duration}}
	</p>

	<progressbar value="model.songTime"></progressbar></div>

	<div class="btn-group">
	    <label class="btn btn-primary" ng-click="prev()">Previous</label>
	    <label class="btn btn-primary" ng-click="loadPlaylist()">{{model.playerState}}</label>
	    <label class="btn btn-primary" ng-click="next()">Next</label>
	</div>


</div>